<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LoginServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>LoginMenadzerRestoranaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LoginMenadzerRestoranaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>OdjavaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.OdjavaServlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>LoginMenadzerSistemaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.LoginMenadzerSistemaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>RegistracijaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.RegistracijaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MojNalogServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.MojNalogServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IzmenaNalogaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.IzmenaNalogaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DodavanjeMenadzeraServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DodavanjeMenadzeraServlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>PrikazRestoranaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrikazRestoranaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>PrikazMenadzeraServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrikazMenadzeraServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>JelovnikServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.JelovnikServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DodavanjeRestoranaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DodavanjeRestoranaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>IzmenaRestoranaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.IzmenaRestoranaServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>ObrisiServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ObrisiServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>IzmenaJelovnikaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.IzmenaJelovnikaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DodavanjeJelaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.DodavanjeJelaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>KonfiguracijaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.KonfiguracijaServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>RasporedServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.RasporedServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>PrijateljiServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrijateljiServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>PretrazivanjePrijateljaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PretrazivanjePrijateljaServlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>PrijateljiPrijateljiServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrijateljiPrijateljiServlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>ObrisiPrijateljaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.ObrisiPrijateljaServlet</servlet-class>
   </servlet>
    <servlet>
      <servlet-name>RezervacijaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.RezervacijaServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>Rezervacija2Servlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.Rezervacija2Servlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>Rezervacija3Servlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.Rezervacija3Servlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>MojeRezervacijeServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.MojeRezervacijeServlet</servlet-class>
   </servlet>
     <servlet>
      <servlet-name>PrikazPosecenihRestoranaServlet</servlet-name>
      <servlet-class>rs.ac.uns.ftn.informatika.mbs2.vezbe09.primer01.server.servlet.PrikazPosecenihRestoranaServlet</servlet-class>
   </servlet>
   

   <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>LoginMenadzerRestoranaServlet</servlet-name>
      <url-pattern>/LoginMenadzerRestoranaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>OdjavaServlet</servlet-name>
      <url-pattern>/OdjavaServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>LoginMenadzerSistemaServlet</servlet-name>
      <url-pattern>/LoginMenadzerSistemaServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>RegistracijaServlet</servlet-name>
      <url-pattern>/RegistracijaServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>MojNalogServlet</servlet-name>
      <url-pattern>/MojNalogServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>IzmenaNalogaServlet</servlet-name>
      <url-pattern>/IzmenaNalogaServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DodavanjeMenadzeraServlet</servlet-name>
      <url-pattern>/DodavanjeMenadzeraServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PrikazRestoranaServlet</servlet-name>
      <url-pattern>/PrikazRestoranaServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PrikazMenadzeraServlet</servlet-name>
      <url-pattern>/PrikazMenadzeraServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>JelovnikServlet</servlet-name>
      <url-pattern>/JelovnikServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>DodavanjeRestoranaServlet</servlet-name>
      <url-pattern>/DodavanjeRestoranaServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IzmenaRestoranaServlet</servlet-name>
      <url-pattern>/IzmenaRestoranaServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ObrisiServlet</servlet-name>
      <url-pattern>/ObrisiServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>IzmenaJelovnikaServlet</servlet-name>
      <url-pattern>/IzmenaJelovnikaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>DodavanjeJelaServlet</servlet-name>
      <url-pattern>/DodavanjeJelaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>KonfiguracijaServlet</servlet-name>
      <url-pattern>/KonfiguracijaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>RasporedServlet</servlet-name>
      <url-pattern>/RasporedServlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>PrijateljiServlet</servlet-name>
      <url-pattern>/PrijateljiServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PretrazivanjePrijateljaServlet</servlet-name>
      <url-pattern>/PretrazivanjePrijateljaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>PrijateljiPrijateljiServlet</servlet-name>
      <url-pattern>/PrijateljiPrijateljiServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>ObrisiPrijateljaServlet</servlet-name>
      <url-pattern>/ObrisiPrijateljaServlet</url-pattern>
   </servlet-mapping>
     <servlet-mapping>
      <servlet-name>RezervacijaServlet</servlet-name>
      <url-pattern>/RezervacijaServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Rezervacija2Servlet</servlet-name>
      <url-pattern>/Rezervacija2Servlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Rezervacija3Servlet</servlet-name>
      <url-pattern>/Rezervacija3Servlet</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>MojeRezervacijeServlet</servlet-name>
      <url-pattern>/MojeRezervacijeServlet</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PrikazPosecenihRestoranaServlet</servlet-name>
      <url-pattern>/PrikazPosecenihRestoranaServlet</url-pattern>
   </servlet-mapping>
   
   
   <welcome-file-list>
   		<welcome-file>/login.jsp</welcome-file>
   </welcome-file-list>
 

</web-app>
